# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# Virtual environments
venv/
.env
.env.*

# IDE/editor
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Cache
.pytest_cache/
.mypy_cache/

# Node (just in case)
node_modules/

# Streamlit secrets
.streamlit/secrets.toml
